
p,li{
    line-height: 42px;
    font-size:20px;
}
.children-right{
    display: flex;
    padding: 80px;
    .bg-img{
        border-radius: 9px;
        width: 100%;
        background-image:url(/public/bg-1.jpeg);
        height:900px;
        align-self: center;
        background-repeat: no-repeat;      
        background-size: cover;
    }
}

@media screen  and (max-width:950px){
    .children-right{
      padding: 20px;
    }  
}